

<style>
  ion-menu {
    display: none;
  }
</style>

<ion-content>


  <div style="padding-top: 60px; width: 100%; height: 100%; display: flex; justify-content: center; align-content: center; align-items: center;">
    <ion-card style="max-width: 600px; padding: 20px; margin: auto; width: 100%;">
      <ion-title style="color: black; font-size: 25px; margin-bottom: 10px"> Log In</ion-title>

      <form [formGroup]="todo" (ngSubmit)="login()">


        <ion-card color='danger' *ngIf="showError == true">
          <ion-card-content>
            {{ errorMSG }}
          </ion-card-content>
        </ion-card>


        <ion-item>
          <ion-label position="floating">Username or Email</ion-label>
          <ion-input formControlName="username_email" type="text" name="user_email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password" name="password"></ion-input>
        </ion-item>
      
      
        <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 10px">
          <ion-button color="medium" href="/signin">New account</ion-button>
          <ion-button [disabled]="!todo.valid" type="submit" color="primary">Get me in</ion-button>
        </div>


      </form>
    </ion-card>
  </div>

</ion-content>
