



<ion-content *ngIf="isLogged == true">


    <h1 style=" margin: 10px; margin-top: 80px;">Home</h1>


    <div class="backGray" style="padding: 10px;">
      <ion-item class="allBorders">

        <ion-textarea maxlength="400" spellcheck="true" [(ngModel)]="msgText" placeholder="¿Want to share something?"></ion-textarea>
        


        <div lines="none" style="display: flex; width: 100%; margin-bottom: 3px">
          <ion-label style="width: 170px; margin-top: -15px" position="stacked">{{ 400 - msgText.length }} characters left</ion-label>

          <div style="display: flex; justify-content: flex-end; width: 100%">
            <ion-button>
              <input style="width: 100%" type="file" (change)="loadImageFromDevice($event)" multiple="multiple" id="file-input" accept="image/png, image/jpeg">
              <ion-icon for="file-input" lazy="true" slot="start" name="image"></ion-icon>
            </ion-button>
            <ion-button style="margin-bottom: 10px;">Share</ion-button>
          </div>
        </div>


        
      </ion-item>
    </div>

    
    <ion-card button="true" *ngFor="let item of arrayTest" style="margin-top: 20px">
      <ion-item button="true" color="transparent" lines="none" class="navItemBot">
        <ion-avatar slot="start">
          <img src="{{ imagesURL }}{{ item.image }}">
        </ion-avatar>

        <ion-grid lines="none">
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 23px;">{{ item.name }}</ion-label>
              <ion-label style="font-size: 15px; margin-top: -4px; color: darkgray;">@nikorasu</ion-label>
            </ion-col>
            <ion-col style="display: flex; justify-content: flex-end">
              <ion-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
              </ion-button>
              <ion-button> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
              </ion-button>
              <ion-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>

      <div style="margin: 15px">
        <ion-text lines="none" class="text">
          qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnwewefji qwdqwdd wfe ke fefwefwefweffnw
        </ion-text>
      </div>

    </ion-card>
    


</ion-content>



